header {
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: teal;
}
header input {
    flex-grow: 1;
}
header button {
    width: 80px;
}

main {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

div.widget {
    margin: 10px 0;
    padding: 20px;
    background-color: darkgrey;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

ul#exchange_rates li {
    margin: 10px 0;
}

ul#weather_list {
    flex-grow: 1;
    margin-left: 10px;
}
ul#weather_list li {
    margin: 10px 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
}
ul li#current_city {
    display: block;
    background-color: darkcyan;
}
ul li#current_city span {
    font-style: italic;
}

ul li button {
    width: 60px;
}

ul li div {
    flex-grow: 1;
}
ul li input {
    flex-grow: 1;
}
ul li p {
    margin: 0;
}
ul li h4 {
    margin: 0;
}