header {
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkcyan;
}
header input {
    flex-grow: 1;
}
header button {
    width: 80px;
}

ul {
    list-style: none;
}

ul li {
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
}

ul li button {
    width: 60px;
}

ul li div {
    flex-grow: 1;
}
ul li input {
    flex-grow: 1;
}